/* 
    Document   : formulario-template
    Created on : 05/04/2014, 04:35:35 PM
    Author     : pc
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
  padding-top: 50px;
}
.formulario-templates {
  padding: 40px 15px;
  text-align: center;
}

.bg-primary {
color: #999;
background-color: #101010;
}

.btn:hover{
    color:#fff;
}

.col-owner-offset-10 {
margin-left: 85.0%;
}

.col-owner-offset-9 {
margin-left: 68%;
}

.navbar-header .blanco{
    color: #fff;
}
