#cssanimation {
	height: 65px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 1030;
}
#cssanimation #animationbox {
	height: 100%;
	width: 100%;
	background-color: #252525;
	font-size: 40px;
	color: #FFF;
	text-align: left;
	padding-left: 15px;
	line-height: 65px;
	margin: 0 auto;
	top: 0;
	position: relative;
	-webkit-animation-name: resize;
	-webkit-animation-duration: 2s;
	-moz-animation-name: resize;
	-moz-animation-duration: 2s;
	-o-animation-name: resize;
	-o-animation-duration: 2s;
	animation-name: resize;
	animation-duration: 2s;
}